<title>PI GAME</title>
<h1>PI GAME</h1>
<b>Welcome to</b> <i>Pi Game</i>!
<img src="/static/pi.png">

<br>

<form action="/play" method="GET">
<input type="submit" value="Play">
</form>

<form action="/pi" method="GET">
<input type="submit" value="View pi">
</form>


{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
Kirjaudu sisään/luo käyttäjä
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu/luo">
</form>
{% endif %}
